.dropdown {
  background-color: white;
  color: black;

  &_list {
    list-style: none;
    padding: 0;

  	&_item {
  	  padding: 0.25em;
  	  border-bottom: grey solid 0.1em;

  	  &:hover {
  	  	background-color: blue;
  	  }

  	  &--selected {
  	  	background-color: grey;
  	  }
  	}
  }
}