.button-list {
	display: flex;

    &_title {
      margin-right: .25em;
    }

	&_list {
	  display: flex;
	  list-style: none;
	  padding: 0;
	  margin: 0;

	  &_item {
		&_button {

		}
	  }
    }
}