.countdown-timer {
  
  display: flex;
  width: 12em;
  height: 2.5em;
  padding: 0.5em;

  &_title {
    background: linear-gradient(#FFFFFF, #D8D8D8);
    border-radius: 0.25em;
  }

  &_days,
  &_hours,
  &_minutes,
  &_seconds {
  	width: 4em;
  	text-align: center;
    margin-right: 5px;

    &_title {
      color: #D8D8D8;
      font-family: Verdana;
    }

     &_value {
      background: linear-gradient(#FFFFFF, #D8D8D8);
      border-radius: 0.25em;
      margin-top: 0.3em;
      font-weight: bold;
    }
  }
}