$background-color: #6b7075;

.TableRow {
	padding: 0.25em;
    list-style: none;
    margin: 0;

    &:nth-child(even) {
      background: #EAECEE;
    }

    &:hover {
      background: $background-color;
      color: white;
      cursor: pointer;
    }
}