$base-color: #212F3D;

.auction-controls {
  display: flex;
  flex-direction: column;
  width: 12em;

  button {
    font-weight: bold;
    margin-top: 0.25em;
    border-radius: 0.5em;
    border: none;
    color: white;
  }

  button:hover {
  	cursor: pointer;
  	color: $base-color;
  	background: white;
  }

  &_buy-now-btn {
  	background: green;
  }

  &_add-to-basket-btn {
  	background: blue;
  }

  &_watch-btn {
  	background: orange;
  }
}
